
li 
{background-position: center;}

.navbar { 
  background-color:#FAA30F; 
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}



.thumbnail{
    position: relative;
    background-color: #000;
}

.thumbnailDescription{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.thumbnailDescription a, a:hover{
    text-decoration: none;
}

.possition{
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s;
}

.overlay_content{
    opacity: 1;
    transition: opacity 0.5s;
}

.containerPortrait:hover .overlay_content{
    opacity: 0;
    transition: opacity 0.5s;
}

.containerPortrait:hover #possition{
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.containerPortrait:hover h1{
    font-size: 3em;
    margin-top: 70%;

}

.containerPortrait h2{
    font-size: 1.4em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-radius: 15px;
    padding: 15px;
}

.img-responsive{
    width: 100%;
}

h2.deadTitle{
    background-color: transparent;
    font-size: 1.9em;
}

.dead{
    text-decoration: line-through;
}

.containerPortrait span{
    color: orangered;
    font-size: 1.1em;
}

.containerPortrait h1{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin-top: 80px;

}

h2{
  text-align: center;
}
@font-face {
font-family: 'police';
src: url('imags/partybusiness.ttf');
}
@font-face{
  font-family: 'police1';
  src:url(imags/anicb___.ttf);
}
@font-face{
  font-family: 'police2';
   src:url(imags/anicm___.ttf)
}
h1{
  font-family: police2;
}
h2{
  font-family: police1;
  
}
p,a{
  font-family: police;
}

a{
  font-size: 200%;
  color: black;
}


li{list-style: none;
 }

 
  footer{
    background-color:#FAA30F;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}



footer ul li{
    padding: 10px 0;
}

footer ul li a, footer p{
    color:#fff;
    text-decoration: none;
    font-family: 'anironcregular', cursive;
}

footer p{
    font-size : 1.3em;
}
.container{
  height: 100%;
  width:100%;
}

span {
    margin-top : 30px;
    margin-bottom: 30px;
}